.lenovo > img{
width: 108px;
height: 32px;
}

.samsung > img{
width: 116px;
height: 38.52px;
top: 20px;
}
.apple > img{
width: 44px;
height: 44px;
top: 12px;
}
.viewSonic > img{
width: 128px;
height: 21px;
top: 27px;
}
.bosch > img{
width: 128px;
height: 28.6px;
}
.hp > img{
width: 52px;
height: 52px;
top: 10px;
}
.acer > img{
width: 94px;
height: 24px;
}
.sony > img{
  width: 128px;
  height: 25.6px;
}

.lenovo button{
  position: relative;
  top: 20px;
  left: 74px;
  }
  .samsung button{
    top: 20px;
    left: 66px;
  }
  .apple button{
    top: 20px;
    left: 139px;
  }
  .viewSonic button{
    top: 20px;
    left: 54px;
  }
  .bosch button{
    top: 20px;
    left: 54px;
  }
  .hp button{
    top: 20px;
    left: 131px;
  }
  .acer button{
    top: 20px;
    left: 89px;
  }
  .sony button{
    top: 20px;
    left: 54px;
  }
  .content__button__img{
    width: 7.5px;
    height: 12px;
  }