@font-face {
  font-family: 'TT Lakesb';
  src: url('fonts/TTLakes-Bold.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakesr';
  src: url('fonts/TTLakes-Regular.woff');
 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakesl';
  src: url('fonts/TTLakes-Light.woff');
  
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakesd';
  src: url('fonts/TTLakes-DemiBold.woff');

  font-weight: 600;
  font-style: normal;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
button,
a,
ul,
input {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	position: relative;
	list-style: none;
	text-decoration: none;
	font: inherit;
	cursor: pointer;
	color: inherit;
}
body{
  font-family: 'TT Lakes', sans-serif;
background: #F8F8F8;
margin: 0;
}
.header{
  display: flex;
  align-items: center;
 margin: 0;
  background: #FFFFFF;
  height: 88px;
  width: auto;
 
}
button:hover{
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
}

.seaction_content-style{
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  font-family: 'TT Lakesr', sans-serif;
  overflow: hidden;
  max-height: 80px;
}

.main__heading{
  font-family: 'TT Lakesb', sans-serif;
  gap: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  display: flex;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
  text-align: center;
}
.main__heading::before {
  content: "";
  width: 5px;
  height: 40px;
  border-radius: 0px 50px 50px 0px;
  background: #41f6d7;

}

.header-nav_button_submitapplication{
display: flex;
margin-left: 16px;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background: #FF3E79;
border-radius: 20px;
}

.header-nav_button_additions{
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background: #FF3E79;
border-radius: 20px;
margin-right: 25px;
margin-left: 16px;
}
.header-nav_button_statys{
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background: #FF3E79;
border-radius: 20px;
margin-left: 16px;
margin-right: 16px;
}
.header-nav_logoname{
  display: flex;
  width: 96px;
  height: 51px;
  background-repeat: no-repeat;
  margin-right: auto;
}
.header-nav_logoname::before{
content: "";
border-right: 5px solid #EAEAEA;
width: 5px;
height: 50px;
position: absolute;
left: -15px;
}
.nav_scroll{
display: flex;
margin-left: 16px;
}
.b-main-article-button_page{
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
  height: 40px;
  white-space: pre;
  padding: 8px;
  margin-right: auto;
  background: #F8F8F8;
  border: 2px solid #F8F8F8;
 
}
.b-main-article-button_page:hover{
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.seaction_readmore{
  margin-left: 24px;
  padding-right: 16px;
  font-size: 14px;
  font-family: 'TT Lakesd', sans-serif;
}
.seaction_readmore-button:hover{
   box-shadow: none;
}
.seaction_readmore-img{
padding-right: 16px;
}

.televizor{
  display: none;
}
.for_pk-version{
  display: none;
}
.seaction_img{
  display: block;
  width: 100%;
 margin-top: 10px;
}
.nav_scroll-list{
  display: flex;
  padding: 12px;
  overflow-x: scroll;

  scrollbar-width: none;
  align-items: center;
  list-style-type: none;
  font-family: 'TT Lakesr', sans-serif;
}


@media (min-width: 768px) and (max-width: 1120px) { 
  .for_pk-version{
    display: flex;
    order: 3;
    margin-left: auto;
    align-items: center;
  }

  .for_pk-version::after{ 
    content: "";
    border-right: 5px solid #EAEAEA;
    width: 5px;
    height: 50px;
    }
  .header-nav_logoname::before{
    content: "";
    border-right: 5px solid #EAEAEA;
    width: 5px;
    height: 50px;
    position: absolute;
    left: -13px;
    }
  .header-nav_button_for_pk-version-telefon{
    display: flex;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background: #FF3E79;
    border-radius: 20px;
  }
  .header-nav_button_for_pk-version-messange{
    display: flex;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background: #FF3E79;
    border-radius: 20px;
  }
  .header-nav_button_for_pk-version-profile{
    display: flex;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background: #FF3E79;
    border-radius: 20px;
  }
  
  .header-nav_button_submitapplication{
    display: flex;
    order: 4;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
   
    background: #FF3E79;
    border-radius: 20px;
    }
    .header-nav_button_additions{
      display: flex;
      order: 1;
      align-items: center;
      margin-right: auto;
      margin: 24px;
      width: 40px;
      height: 40px;
      background: #FF3E79;
      border-radius: 20px;
      }
      
      .header-nav_button_statys{
      display: flex;
      order: 5;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin: 24px;
      background: #FF3E79;
      border-radius: 20px;
      }
      .header-nav_logoname{
        width: 96px;
        order: 3;
        height: 51px;
        margin-right: auto;
        background-repeat: no-repeat;
      }
   
  .main__heading{
    font-size: 28px;
    font-family: 'TT Lakesb', sans-serif;
  }

  .header{
    display: flex;
    align-items: center;
  
  background: #FFFFFF;
  height: 88px;
  width: auto;
  margin: 0;
  }


  .nav_scroll{
  margin-left: 16px;
  margin-top: 0;
  }
  
  .b-main-article-button_page{
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    white-space: pre;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: auto;
    background: #F8F8F8;
    border: 2px solid #F8F8F8;
   margin-bottom: 24px;
   margin-top: 24px;
  }

 
  .b-main-seaction-readmore_img{
  padding-right: 16px;
  }


  .seaction_img{
    display: inline;
    margin-top: 0;
    margin-right: 15px;
    border-radius: 5px;
    }
    .section{
      display: flex;
      margin: 20px;
      margin-top: 0;
      align-items: flex-start;
      }
      .section_content-style{
        max-height: 150px;
        overflow: hidden;
      }
}
@media (min-width: 1120px){
  
  body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
  .header{
    display: none;
  }
  .main{
    margin-top: 42px;
  }
  .b-main-seaction_headmain_candlestick{
    padding-top: 0;
    font-size: 28px;
  }
  
  .seaction_img{
    display: inline;
    border-radius: 5px;
    height: 350px;
    width: 550px;
    }
 
  .header-nav_button_submitapplication{
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    margin-right: 9px;
    
    }
    .header-nav_button_statys{
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background: #FF3E79;
      border-radius: 20px;
      }
      .nav_scroll{
        display: flex;
        margin-left: 16px;
        overflow-x: hidden;
        font-size: 16px;
        }
        .section{
          display: flex;
          margin: 20px;
          align-items: flex-start;
          }
            .b-main-seaction-p_information-televisor{
              display: block;
              margin-left: 16px;
              margin-right: 16px;
              font-size: 14px;
              font-family: 'TT Lakesr', sans-serif;
            }
            .televizor{
              display: flex;
              margin-left: auto;
             align-items: center; 
            }
            .section_headmain{
              display: flex;
              margin-right: 25px;
            }
           
            .main-seaction-televizor-infoaboutbutton{
              font-size: 16px;
              font-family: 'TT Lakesd', sans-serif;
            }
            .seaction_content-style{
              max-height: 240px;
            }
}

/* Кнопка меню */
.menu{
  height: 100%;  
}
.menu-options{
  width: 320px;
  overflow-y: scroll;
  min-height: 100vh;
  margin-right: auto;
  background: #FFFFFF;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}
.header_nav-close{
  display: flex;
  margin-left: 16px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: auto;
  background: #FF3E79;
  border-radius: 20px;
}
.header-nav_logonama{
  width: 96px;
  height: 51px;
  background-repeat: no-repeat;
  margin-right: auto;
  
}

.header_nav-reseach{
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 70px;
  background: #FF3E79;
  border-radius: 20px;
}
.seaction_button-version-telefon{
  display: flex;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 24px;
  background: #FF3E79;
  border-radius: 20px;
}
.seaction_button-version-messange{
  display: flex;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
 
  background: #FF3E79;
  border-radius: 20px;
}
.seaction_button-version-profile{
  display: flex;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  
  background: #FF3E79;
  border-radius: 20px;
}
.footer_mail{
margin: 24px;
}
.footer_number{
  margin: 24px;
}

.footer_listradio{
  display: flex;
  padding: 12px;
  
  overflow-x: auto;
  scrollbar-width: none;
  align-items: center;
  list-style-type: none;
}

.footer_listradio input[type=radio] {
	display: none;
}
.footer_listradio-button{
  margin-left: 7px;
}
.footer_listradio input[type=radio]:checked + label {
	color: #7E7E82;
}
.footer_listradio label:hover {
  color: #FF3E79;
}
.nav-link{
  color: black;
}
.nav_list-item:hover{
  filter: opacity(50%);
  color: black;
  display: flex;
}
.nav_list{
  display: flex;
  flex-direction: column;
 padding: 0;
  list-style-type: none;
  
  gap: 32px;
}
.nav_list-item::before{
  content: "";
 margin-right: 10px;

}
.nav_list-item:hover::before{
  content: "";
 background: #41F6D7;
 width: 4px;
 height: 20px;
 border-radius: 0 50px 50px 0;
margin-right: 10px;

}

.nav_scrollmenu{
  display: flex;
  align-items:  flex-start;
  font-family: 'TT Lakesr', sans-serif;
 
}
.header_menu{
  display: flex;
  align-items: center;
  height: 88px;
  width: auto;
}
.footer_buttons{
display: flex;
}

.main_menu{
  min-height: calc(100vh - 320px);
}
