@import url(./optionforlogo.css);
@import url(./service-css.css);
@font-face {
  font-family: 'TT Lakesb';
  src: url('../fonts/TTLakes-Bold.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakesr';
  src: url('../fonts/TTLakes-Regular.woff');
 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakesl';
  src: url('../fonts/TTLakes-Light.woff');
  
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakesd';
  src: url('../fonts/TTLakes-DemiBold.woff');

  font-weight: 600;
  font-style: normal;
}
*,
*::before,
*::after {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
<<<<<<< HEAD:src/style/style.css
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
=======
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
}
button,
a,
ul,
input {
margin: 0;
padding: 0;
border: none;
background: none;
position: relative;
list-style: none;
text-decoration: none;
font: inherit;
cursor: pointer;
color: inherit;
<<<<<<< HEAD:src/style/style.css
}
:root{
  --index: calc(1vw + 1vh);
=======
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
}
body{
  font-family: 'TT Lakes', sans-serif;
  background: #F8F8F8;
  margin: 0;
}
.head{
  display: flex;
  align-items: center;
  margin: 0;
  background: #FFFFFF;
  height: 88px;
  width: auto;
 
}
button:hover{
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
}

.content__style{
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  font-family: 'TT Lakesr', sans-serif;
  overflow: hidden;
  max-height: 320px;
}

.content-head__title{
  font-family: 'TT Lakesb', sans-serif;
  gap: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  display: flex;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
  text-align: center;
}
 .content-head__title::before {
  content: "";
  width: 5px;
  height: 40px;
  border-radius: 0px 50px 50px 0px;
  background: #41f6d7;

}

<<<<<<< HEAD:src/style/style.css
.head-button__submitapplication{
=======
.header-button__submitapplication{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
display: flex;
margin-left: 16px;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background: #FF3E79;
border-radius: 20px;
}

<<<<<<< HEAD:src/style/style.css
.head-button__additions{
=======
.header-button__additions{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background: #FF3E79;
border-radius: 20px;
margin-right: 25px;
margin-left: 16px;
}
<<<<<<< HEAD:src/style/style.css
.head-button__statys{
=======
.header-button__statys{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background: #FF3E79;
border-radius: 20px;
margin-left: 16px;
margin-right: 16px;
}
<<<<<<< HEAD:src/style/style.css
.head__logoname{
=======
.header__logoname{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
  display: flex;
  width: 96px;
  height: 51px;
  background-repeat: no-repeat;
  margin-right: auto;
}
<<<<<<< HEAD:src/style/style.css
.head__logoname::before{
=======
.header__logoname::before{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
content: "";
border-right: 5px solid #EAEAEA;
width: 5px;
height: 50px;
position: absolute;
left: -15px;
}
.nav-scroll{
display: flex;
margin-left: 16px;
}
.scroll__list{
  display: flex;
  padding: 12px;
  overflow-x: scroll;
  scrollbar-width: none;
  align-items: center;
  list-style-type: none;
  font-family: 'TT Lakesr', sans-serif;
}
.list__links{
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
  height: 40px;
  white-space: pre;
  padding: 8px;
  margin-right: auto;
  background: #F8F8F8;
  border: 2px solid #F8F8F8;
 
}
.list__links:hover{
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.seaction_readmore{
  margin-left: 24px;
  padding-right: 16px;
  font-size: 14px;
  font-family: 'TT Lakesd', sans-serif;
}
.seaction_readmore-button:hover{
   box-shadow: none;
}
.seaction_readmore-img{
padding-right: 16px;
}
<<<<<<< HEAD:src/style/style.css
.content-head__televizor{
=======
.televizor{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
  display: none;
}
.head-forpkversion{
  display: none;
}
.seaction_img{
  display: block;
  width: 100%;
 margin-top: 10px;
}

<<<<<<< HEAD:src/style/style.css
.about__text--visible--open{
display: inline;
}
.about__text--visible--close{
display: none;
}
=======
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css

@media (min-width: 768px) and (max-width: 1120px) { 
  .head-forpkversion{
    display: flex;
    order: 3;
    margin-left: auto;
    align-items: center;
  }

  .head-forpkversion::after{ 
    content: "";
    border-right: 5px solid #EAEAEA;
    width: 5px;
    height: 50px;
    }
  .header__logoname::before{
    content: "";
    border-right: 5px solid #EAEAEA;
    width: 5px;
    height: 50px;
    position: absolute;
    left: -13px;
    }
<<<<<<< HEAD:src/style/style.css
  .head-button__telefon{
=======
  .header-button__telefon{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
    display: flex;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background: #FF3E79;
    border-radius: 20px;
  }
<<<<<<< HEAD:src/style/style.css
  .head-button__messange{
=======
  .header-button__messange{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
    display: flex;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background: #FF3E79;
    border-radius: 20px;
  }
<<<<<<< HEAD:src/style/style.css
  .head-button__profile{
=======
  .header-button__profile{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
    display: flex;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background: #FF3E79;
    border-radius: 20px;
  }
  
<<<<<<< HEAD:src/style/style.css
  .head-button__submitapplication{
=======
  .header-button__submitapplication{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
    display: flex;
    order: 4;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    }
    .header-button__additions{
      display: flex;
      order: 1;
      align-items: center;
      margin-right: auto;
      margin: 24px;
      width: 40px;
      height: 40px;
      background: #FF3E79;
      border-radius: 20px;
      }
      
<<<<<<< HEAD:src/style/style.css
      .head-button__statys{
=======
      .header-button__statys{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
      display: flex;
      order: 5;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin: 24px;
      background: #FF3E79;
      border-radius: 20px;
      }
<<<<<<< HEAD:src/style/style.css
  .head__logoname{
=======
  .header__logoname{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
   width: 96px;
   order: 3;
   height: 51px;
   margin-right: auto;
   background-repeat: no-repeat;
  }
<<<<<<< HEAD:src/style/style.css
  .content-head__title{
    font-size: 28px;
    font-family: 'TT Lakesb', sans-serif;
  }
  .head{
=======
  .main__heading{
    font-size: 28px;
    font-family: 'TT Lakesb', sans-serif;
  }
  .header{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
  display: flex;
  align-items: center;
  background: #FFFFFF;
  height: 88px;
  width: auto;
  margin: 0;
  }
  .nav-scroll{
  margin-left: 16px;
  margin-top: 0;
  }
  .list__links{
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    white-space: pre;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: auto;
    background: #F8F8F8;
    border: 2px solid #F8F8F8;
   margin-bottom: 24px;
   margin-top: 24px;
  }
  .b-main-seaction-readmore_img{
  padding-right: 16px;
  }
  .seaction_img{
    display: inline;
    margin-top: 0;
    margin-right: 15px;
    border-radius: 5px;
    }
    .about{
      display: flex;
      margin: 20px;
      margin-top: 0;
      align-items: flex-start;
      }
      .section_content-style{
        max-height: 150px;
        overflow: hidden;
      }
}
@media (min-width: 1120px){
 
  .head{
    display: none;
  }
  .b-main-seaction_headmain_candlestick{
    padding-top: 0;
    font-size: 28px;
  }
  .seaction_img{
    display: inline;
    border-radius: 5px;
    height: 350px;
    width: 550px;
    }
<<<<<<< HEAD:src/style/style.css
  .head-button__submitapplication{
=======
  .header-button__submitapplication{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    margin-right: 9px;
    
    }
<<<<<<< HEAD:src/style/style.css
    .head-button__statys{
=======
    .header-button__statys{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background: #FF3E79;
      border-radius: 20px;
      }
      .nav-scroll{
        display: flex;
        margin-left: 16px;
        overflow-x: hidden;
        font-size: 16px;
        }
        .about{
          display: flex;
          margin: 20px;
          align-items: flex-start;
          }
            .b-main-seaction-p_information-televisor{
              display: block;
              margin-left: 16px;
              margin-right: 16px;
              font-size: 14px;
              font-family: 'TT Lakesr', sans-serif;
            }
            .content-head__televizor{
              display: flex;
              margin-left: auto;
             align-items: center; 
            }
            .content-head{
              display: flex;
              margin-right: 25px;
            }
           
            .televizor__infoaboutbutton{
              font-size: 16px;
              font-family: 'TT Lakesd', sans-serif;
            }
            .content__style{
              max-height: 240px;
            }
}

/* Кнопка меню */

.menu-main{
  min-height: calc(100vh - 320px);
}
<<<<<<< HEAD:src/style/style.css
.menu{
=======
.main-menu{
  min-height: calc(100vh - 320px);
}
.menu-options{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
  width: 320px;
  overflow-y: scroll;
  min-height: 100vh;
  margin-right: auto;
  background: #FFFFFF;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}
<<<<<<< HEAD:src/style/style.css
.menu-header__buttonclose{
=======
.header-menu__buttonclose{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
  display: flex;
  margin-left: 16px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: auto;
  background: #FF3E79;
  border-radius: 20px;
}
<<<<<<< HEAD:src/style/style.css
.menu-header__logoname{
=======
.header-menu__logoname{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
  width: 96px;
  height: 51px;
  background-repeat: no-repeat;
  margin-right: auto;
}
<<<<<<< HEAD:src/style/style.css

.menu-header{
=======
.header-menu{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
  display: flex;
  align-items: center;
  height: 88px;
  width: auto;
}
<<<<<<< HEAD:src/style/style.css
.menu-header__buttonreseach{
=======
.header-menu__buttonreseach{
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 70px;
  background: #FF3E79;
  border-radius: 20px;
}
.buttons__telefon{
  display: flex;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 24px;
  background: #FF3E79;
  border-radius: 20px;
}
.buttons__messange{
  display: flex;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
 
  background: #FF3E79;
  border-radius: 20px;
}
.buttons__profile{
  display: flex;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
}
.list-link{
  color: black;
}
.nav-list{
  display: flex;
  flex-direction: column;
 padding: 0;
  list-style-type: none;
  gap: 32px;
}
.list__item::before{
  content: "";
 margin-right: 10px;
}
.list__item:hover::before{
  content: "";
 background: #41F6D7;
 width: 4px;
 height: 20px;
 border-radius: 0 50px 50px 0;
margin-right: 10px;
}
.list__item:hover{
  filter: opacity(50%);
  color: black;
  display: flex;
}
.nav-scrollmenu{
  display: flex;
  align-items:  flex-start;
  font-family: 'TT Lakesr', sans-serif;
}
.footer-buttons{
display: flex;
}
.footer__mail{
margin: 24px;
}
.footer__phonenumber{
  margin: 24px;
}
.footer__listradio{
  display: flex;
  padding: 12px;
  overflow-x: auto;
  scrollbar-width: none;
  align-items: center;
  list-style-type: none;
}

.footer__listradio input[type=radio] {
	display: none;
}
.listradio__button{
  margin-left: 7px;
}
.footer__listradio input[type=radio]:checked + label {
	color: #7E7E82;
}
.footer__listradio label:hover {
  color: #FF3E79;
}

<<<<<<< HEAD:src/style/style.css
/*Цены на услуги - telefon*/
.contentpk-block{
  display: none;
}
.content-block{
  background-color: #FFFFFF;
  width: 265px;
  padding-left: 20px;
  padding: 16px;
 
  margin: 8px;
}
.block__title{
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;  
}
.block__button{
  display: inline;
  font-family: "TT Lakesb", sans-serif;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  color: #FFFFFF;
  position: relative;
  left: 22px;
}
.block__content{
  margin-bottom: 16px;
}
.block__content:nth-child(3n){
  display: inline;
  margin: 0;
}

.swiper-pagination{
  position: relative;
margin-top: 10px;
color: red;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
background-color: #B5B6BC;
width: 12px;
height: 12px;
}
.swiper {
  width: 90%;
  height: 70%;
}
/*Цены на услуги - pk tv*/
@media (min-width: 700px) {
.swiper{
  display: none;
}
  .block__content {
  background-color: #FFFFFF;
  padding: 10px;
  border: 0;
}

.block__title{
  padding: 15px;
}
.contentpk-block{
  font-family: 'TT Lakesr', sans-serif;
  display: flex;
  width: 1120px;
  padding: 16px;
  margin-left: 16px;
  border: 0;
}
.contentpk-block tr:first-of-type{
  background-color: #F8F8F8;
}
.block__content:nth-child(3n){
  display: block;
  margin-top: 10px;
}
.block__content:nth-child(2n - 1){
  width: calc(var(--index) * 24);
}
.block__content:nth-child(3n){
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__title:first-child{
  display: flex;
  justify-content: flex-start;
}
}

/*Обратная связь*/

.feedback{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 320px;
  height: 100lvh;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.header-feedback{
  margin-top: 25px;
  margin-bottom: 25px;
}
.main-feedback{
  display: flex;
  flex-direction: column;
}
.header-feedback__buttonclose{
  display: flex;
  margin-left: 16px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: auto;
  background: #FF3E79;
  border-radius: 20px;
}
.main-feedback__heading{
  font-family: 'TT Lakesb', sans-serif;
  gap: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  display: flex;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
  text-align: center;
}
.main-feedback__heading::before {
  content: "";
  width: 5px;
  height: 40px;
  border-radius: 0px 50px 50px 0px;
  background: #41f6d7;
}
.footer-feedback__button{
  display: inline;
  font-family: "TT Lakesb", sans-serif;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 35px;
  background: #FF3E79;
  border-radius: 20px;
  color: #FFFFFF;
  position: relative;
  left: 118px;
}
.feedback__input{
  padding: 16px;
  width: 288px;
  margin: 12px;
  border: #EAEAEA solid 2px;
  border-radius: 8px;
}
.feedback__input::placeholder{
  color: #B5B6BC;
  position: absolute;
  top: 15px;
}
.feedback__input:last-child{
  height: 118px;
}
.footer-feedback-information{
  margin: 12px;
  font-size: 15px;
  color: #7E7E82;
}
.footer-feedback-information a{
color: #FF3E79;
}
@media (min-width: 700px) {
  .feedback{
    width: 440px;
  }
  .feedback__input{
   width: 405px;
  }
  .header-feedback__buttonclose{
   position: absolute;
   right: 480px;
   top: 40px;
  }
  .footer-feedback__button{
  position: relative;
  left: 250px;
}
}
=======
>>>>>>> e7b2b488d31f1cb8fc2d7ec2c8df07ae8067da8f:phoneversion.css
