@font-face {
  font-family: 'TT Lakesb';
  src: url("../fonts/TTLakes-Bold.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakesr';
  src: url('../fonts/TTLakes-Regular.woff');
 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakesl';
  src: url('../fonts/TTLakes-Light.woff');
  
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakesd';
  src: url('../fonts/TTLakes-DemiBold.woff');

  font-weight: 600;
  font-style: normal;
}