.footer__text{
font-size: 18px;
line-height: 20px;
margin: 16px;
text-align: left;
}
.footer__link{
  font-size: 16px;
  font-family: 'TT Lakesb', sans-serif;
  margin: 16px;
  &-img{
    margin-left: 5px;
  }
}
.footer-name{
  display: flex;
  padding: 32px;
  margin-top: 57px;
  color: #7E7E82;
  font-size: 14px;
  @media (max-width: 768px){
    flex-direction: column;
    &__text{
    text-align: center;
   
    }
  }
  @media (min-width: 768px){
    &__text{
  
   padding-right: calc(var(--index) * 15);
   &:last-child{
    padding-right: 0;
   }
   &:nth-child(3n-1){
    align-self: center;
    justify-content: center;
   
   }
    }
    }
  }
